NEXT_PUBLIC_APP_NAME=Saekyung Village
NEXT_PUBLIC_SITE_URL=https://saekyungvillage.com

NEXT_PUBLIC_CONTENT_TYPES="articles,blog"

NEXT_PUBLIC_SANITY_PROJECT_ID=vedo01nm
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2025-03-10
NEXT_PUBLIC_SANITY_USE_CDN=true